@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Inter:wght@300;700&display=swap";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.botao-primario {
  font: 700 16px "Inter", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(90deg, #9aeba3, #13678a);
  padding: 12px 16px;
  border: none;
  border-radius: 400px;
}
.botao-primario:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), linear-gradient(90deg, #9aeba3, #13678a);
  cursor: pointer;
}

.botao-secundario {
  font: 700 16px "Inter", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  color: #404040;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: #e6e6e6;
  padding: 12px 16px;
  border: none;
  border-radius: 400px;
}
.botao-secundario:hover {
  background: #bfbfbf;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #bfbfbf;
}

::-webkit-scrollbar-thumb {
  background: #808080;
}

::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

.header-principal {
  width: 100vw;
  height: 48px;
  background: #ffffff;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #bfbfbf;
}

.botao-sidebar {
  width: 32px;
  height: 32px;
}
.botao-sidebar:hover {
  cursor: pointer;
}

.logomarca {
  height: 36px;
}
.logomarca:hover {
  cursor: pointer;
}

.aba-pesquisa {
  width: 400px;
  height: 28px;
  padding: 0 8px;
  border: #13678a solid 2px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.aba-pesquisa__input {
  font: 300 12px "Inter", sans-serif;
  flex: 1;
  height: 95%;
  background: none;
  border: none;
}
.aba-pesquisa__lupa {
  width: 20px;
  height: 20px;
}
.aba-pesquisa__lupa:hover {
  cursor: pointer;
}

.area-login {
  width: 240px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.area-login__entrar {
  padding: 8px 16px;
}
.area-login__cadastrar {
  padding: 8px 16px;
}
.area-login__perfil {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.area-login__perfil__foto {
  width: 36px;
  height: 36px;
  border-radius: 100px;
}

.area-carrinho {
  position: relative;
}
.area-carrinho:hover {
  cursor: pointer;
}

.botao-carrinho {
  width: 36px;
  height: 36px;
}
.botao-carrinho:hover {
  cursor: pointer;
}

.itens-carrinho {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: absolute;
  bottom: -2px;
  right: -8px;
}
.itens-carrinho__svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

#carrinho-quantidade {
  font: 700 12px "Inter", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: #012030;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1px;
  z-index: 1;
}

.fix-margin {
  height: 1px;
}

.subheader {
  margin-top: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #bfbfbf;
}
.subheader__nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.subheader__nav__barra {
  display: inline-block;
  width: 1px;
  height: 28px;
  background: #13678a;
}
.subheader__nav__link {
  color: #13678a;
}
.subheader__nav__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menu-lateral {
  display: none;
  width: 35vw;
  height: 100vh;
  padding: 16px 24px;
  background: #ffffff;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden auto;
}
.menu-lateral__nav {
  position: relative;
}
.menu-lateral__nav__titulo {
  font: 600 45px "EB Garamond", serif;
  margin-bottom: 12px;
}
.menu-lateral__nav__subtitulo {
  font: 400 32px "EB Garamond", serif;
  margin-bottom: 4px;
}
.menu-lateral__nav__lista {
  margin-left: 12px;
  margin-bottom: 16px;
  font: 400 22.5px "EB Garamond", serif;
}
.menu-lateral__nav__lista li a {
  color: #1a1a1a;
}
.menu-lateral__nav__lista li a:hover, .menu-lateral__nav__lista li a:focus-within {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  text-decoration: underline;
  color: #45c4b0;
  font-weight: 700;
}
.menu-lateral__nav__x {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 3;
}
.menu-lateral__nav__x:hover {
  cursor: pointer;
}

.menu-carrinho {
  display: none;
  width: 35vw;
  height: 100vh;
  padding: 16px 24px;
  background: #ffffff;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  overflow: hidden auto;
}
.menu-carrinho__x {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 3;
  top: 12px;
  right: 20px;
}
.menu-carrinho__x:hover {
  cursor: pointer;
}
.menu-carrinho__titulo {
  font: 600 45px "EB Garamond", serif;
  margin-bottom: 24px;
}
.menu-carrinho__exibicao {
  display: flex;
  flex-direction: column;
}

.carrinho__item {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 8px;
  background: #e6e6e6;
  display: flex;
  gap: 16px;
}
.carrinho__item__imagem {
  object-fit: contain;
  max-width: 180px;
}

#botao-carrinho-compra {
  margin-top: 24px;
  padding: 24px 32px;
  font-size: 24px;
  align-self: center;
}

.botao__carrinho__zerar {
  margin-top: 24px;
  padding: 24px 32px;
  font-size: 24px;
  align-self: center;
}

.carrinho-vazio__titulo {
  font: 600 45px "EB Garamond", serif;
  color: #808080;
  text-align: center;
}
.carrinho-vazio__mensagem {
  font: 300 12px "Inter", sans-serif;
  color: #808080;
  font-size: 16px;
  text-align: center;
}

#menu-fundo {
  display: none;
  width: 100vw;
  height: 100vh;
  background: #1a1a1a;
  opacity: 0.75;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
}

.single-item {
  width: 100%;
}

.single-item div {
  text-align: center;
  height: 300px;
  color: white;
  font-size: 50px;
}

.hero-slider div {
  margin-bottom: 80px;
  background-size: cover;
  background-position: center;
}
.hero-slider__1 {
  background: url("/banners/Frete-gratis-2022-5-Banner-Topo-Banner-Home-Desktop.jpg");
}
.hero-slider__2 {
  background: url("/banners/destino-brasil-home-desktop.jpg");
}
.hero-slider__3 {
  background: url("/banners/grandes-editoras-23-home-desk.png");
}
.hero-slider__4 {
  background: url("/banners/lancamentos-full-banner-desktop.png");
}
.hero-slider__5 {
  background: url("/banners/liquidacao-literaria-home-desk.jpg");
}

.secao-produto {
  padding: 0 32px;
  margin-bottom: 80px;
}
.secao-produto__header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secao-produto__header__titulo {
  font: 600 32px "EB Garamond", serif;
}
.secao-produto__header a {
  font: 400 22.5px "EB Garamond", serif;
  color: #13678a;
  padding: 0;
  text-decoration: underline;
}
.secao-produto__slider {
  display: flex;
  justify-content: space-between;
}

.card-produto {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px;
}
.card-produto:hover {
  cursor: pointer;
}
.card-produto__agrupador {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card-produto:hover .card-produto__agrupador {
  transform: scale(1.05, 1.05) rotateY(180deg);
}
.card-produto__frente, .card-produto__tras {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  background-position: center;
  backface-visibility: hidden;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.card-produto__frente {
  background-image: url(../Livros/HTMLeCSS.jpeg);
}
.card-produto__tras {
  padding: 16px 8px 32px;
  transform: scale(1.05, 1.05) rotateY(180deg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7490196078), rgba(0, 0, 0, 0.7490196078)), url(../Livros/HTMLeCSS.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card-produto__titulo {
  font: 600 32px "EB Garamond", serif;
  color: #ffffff;
}
.card-produto__preco {
  font: 700 16px "Inter", sans-serif;
  font-size: 32px;
  background: -webkit-linear-gradient(0deg, #9aeba3, #13678a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secao-categoria {
  padding: 0 32px;
  margin-bottom: 80px;
}
.secao-categoria__agrupador {
  display: flex;
  justify-content: space-between;
}
.secao-categoria__item {
  width: 320px;
  height: 240px;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  transition: 200ms;
}
.secao-categoria__item:hover {
  cursor: pointer;
  scale: 1.1 1.1;
  box-shadow: 12px 12px 4px -4px rgba(0, 0, 0, 0.5);
}
.secao-categoria__item > * + div {
  width: 100%;
  height: 180px;
  position: absolute;
  top: 0;
  opacity: 0.3;
}
.secao-categoria__item__banner {
  width: 100%;
  height: 180px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
.secao-categoria__item h3 {
  font: 400 32px "EB Garamond", serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.secao-categoria__item-1 {
  background: #dafdba;
}
.secao-categoria__item-1 > div {
  background-image: url(../banners/ficcao-cientifica-banner.png);
  background-size: 125%;
}
.secao-categoria__item-1 > div + div {
  background: inherit;
}
.secao-categoria__item-2 {
  background: #9aeba3;
}
.secao-categoria__item-2 > div {
  background-image: url(../banners/romance-banner.jpg);
}
.secao-categoria__item-2 > div + div {
  background: inherit;
}
.secao-categoria__item-3 {
  background: #45c4b0;
}
.secao-categoria__item-3 > div {
  background-image: url(../banners/historia-banner.jpg);
}
.secao-categoria__item-3 > div + div {
  background: inherit;
}
.secao-categoria__item-4 {
  background: #13678a;
}
.secao-categoria__item-4 > div {
  background-image: url(../banners/auto-ajuda-banner.jpg);
}
.secao-categoria__item-4 > div + div {
  background: inherit;
}

.footer {
  background: #13678a;
  color: #ffffff;
  display: flex;
  gap: 128px;
  padding: 64px 128px;
}
.footer__info-agrupador {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
}
.footer__info__redes {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer__info__redes__chamada {
  font: 700 16px "Inter", sans-serif;
}
.footer__info__redes__icones {
  display: inline-flex;
  gap: 16px;
  color: #ffffff;
}
.footer__info__redes__icones svg {
  width: 20px;
  height: 20px;
}
.footer__info__companhia {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.footer__info__companhia p {
  font: 700 12px "Inter", sans-serif;
}
.footer__barra {
  width: 2px;
  background: #ffffff;
}
.footer__info__links {
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
}
.footer__info__links__agrupador {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__info__links__agrupador ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__info__links__titulo {
  font: 700 16px "Inter", sans-serif;
}
.footer__info__links__link {
  font: 300 12px "Inter", sans-serif;
  color: #ffffff;
}
.footer__info__links__link:hover {
  text-decoration: underline;
}

.main__busca {
  margin: 48px 0 80px;
  padding: 0 64px;
  position: relative;
  display: flex;
  gap: 64px;
}
.main__busca h1 {
  font: 600 45px "EB Garamond", serif;
}
.main__busca h2 {
  font: 600 32px "EB Garamond", serif;
}
.main__busca h3 {
  font: 600 22.5px "EB Garamond", serif;
}

.busca__categoria {
  flex: 0 0 350px;
  align-self: start;
}
.busca__categoria nav {
  padding: 16px 24px;
  background: #e6e6e6;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.busca__categoria__lista li a {
  font: 400 16px "EB Garamond", serif;
  color: #1a1a1a;
}
.busca__categoria__lista li a:hover, .busca__categoria__lista li a:focus-within {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  text-decoration: underline;
  color: #45c4b0;
  font-weight: 700;
}

.busca__resultados {
  flex-grow: 1;
}
.busca__resultados h1 {
  margin-bottom: 32px;
}
.busca__resultados__lista {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.busca__resultados__barra {
  width: 100%;
  height: 1px;
  background: #404040;
}
.busca__item {
  height: 300px;
  display: flex;
  gap: 32px;
}
.busca__item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 16px;
}
.busca__item__imagem {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 250px;
  min-width: 200px;
  object-fit: contain;
}
.busca__item__descricao {
  font: 300 12px "Inter", sans-serif;
  font-size: 16px;
}
.busca__item__botao {
  padding: 20px 32px;
  font-size: 32px;
  align-self: center;
  justify-self: end;
}

.container-produto {
  height: 600px;
  padding: 0 64px;
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imagem-produto {
  width: 400px;
  height: 500px;
  padding: 0;
  margin-left: 60px;
  display: block;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.descricao-produto {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#titleP {
  font: 600 45px "EB Garamond", serif;
  text-align: center;
}

#autorP {
  font: 600 32px "EB Garamond", serif;
}

.rating {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.rating input {
  display: none;
}

.rating label {
  color: #ddd;
  float: right;
  cursor: pointer;
}

.rating label:before {
  content: "★";
  font-size: 36px;
}

.rating input:checked ~ label {
  color: #ffca08;
}

#precoP {
  width: 300px;
  height: 50px;
}

#descricaoP {
  font: 300 12px "Inter", sans-serif;
  font-size: 16px;
  text-align: justify;
}

.sobre-main {
  padding: 0 64px;
}
.sobre__luxida {
  margin: 64px 0 128px;
  display: flex;
  align-items: center;
  gap: 64px;
}
.sobre__luxida__logo {
  width: 350px;
  height: 350px;
}
.sobre__luxida__barra {
  background-color: #13678a;
  width: 50px;
  height: 350px;
  border-radius: 100px;
}
.sobre__luxida__texto {
  font: 300 12px "Inter", sans-serif;
  font-size: 24px;
  line-height: 32px;
}
.sobre__devs {
  margin-bottom: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.sobre__dev {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 400px;
  padding: 32px;
  background-image: linear-gradient(135deg, #9aeba3, #13678a);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.sobre__dev__perfil {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 360px;
  height: 360px;
  background-color: #012030;
  border: 8px solid #012030;
  object-fit: cover;
  border-radius: 500px;
}
.sobre__dev__comentario {
  font: 700 12px "Inter", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}