// Seção dos banner principais que aparecem por primeiro na página

// Customização de itens
.single-item {
  width: 100%;
  // height: 20%;
}
.single-item div {
  text-align: center;
  height: 300px;
  color: white;
  font-size: 50px;
}

// Definição de fundos
.hero-slider {
  div {
    margin-bottom: 20 * $espaco;

    background-size: cover;
    background-position: center;
  }
  &__1 {
    background: url("/banners/Frete-gratis-2022-5-Banner-Topo-Banner-Home-Desktop.jpg");
  }
  &__2 {
    background: url("/banners/destino-brasil-home-desktop.jpg");
  }
  &__3 {
    background: url("/banners/grandes-editoras-23-home-desk.png");
  }
  &__4 {
    background: url("/banners/lancamentos-full-banner-desktop.png");
  }
  &__5 {
    background: url("/banners/liquidacao-literaria-home-desk.jpg");
  }
}
