@mixin estiloIconeX {
  width: 8 * $espaco;
  height: 8 * $espaco;

  position: absolute;
  top: 12px;
  right: 20px;

  z-index: 3;

  &:hover {
    cursor: pointer;
  }
}

//* HEADER

.header-principal {
  width: 100vw;
  height: 12 * $espaco;

  background: $branco;
  padding: 0 8 * $espaco;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 1;

  border-bottom: 1px solid $cinza75;
}

.botao-sidebar {
  width: 8 * $espaco;
  height: 8 * $espaco;

  &:hover {
    cursor: pointer;
  }
}

.logomarca {
  height: 9 * $espaco;
  &:hover {
    cursor: pointer;
  }
}

.aba-pesquisa {
  width: 100 * $espaco;
  height: 7 * $espaco;

  padding: 0 8px;

  border: $blue-saphire solid 2px;
  border-radius: 3.5 * $espaco;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  &__input {
    @include paragrafo();
    flex: 1;
    height: 95%;

    background: none;
    border: none;
  }

  &__lupa {
    width: 5 * $espaco;
    height: 5 * $espaco;
    &:hover {
      cursor: pointer;
    }
  }
}

.area-login {
  width: 240px;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  &__entrar {
    padding: 2 * $espaco 4 * $espaco;
  }

  &__cadastrar {
    padding: 2 * $espaco 4 * $espaco;
  }

  &__perfil {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    &__foto {
      width: 36px;
      height: 36px;
      border-radius: 100px;
    }
  }
}
.area-carrinho {
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.botao-carrinho {
  width: 36px;
  height: 36px;
  &:hover {
    cursor: pointer;
  }
}

.itens-carrinho {
  width: 18px;
  height: 18px;

  display: inline-block;
  position: absolute;
  bottom: -2px;
  right: -8px;

  &__svg {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
#carrinho-quantidade {
  @include paragrafo-negrito;
  @include sombra-texto;
  text-align: center;
  color: $maastricht-blue;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 1px;
  z-index: 1;
}

.fix-margin {
  height: 1px;
}

//* SUBHEADER

.subheader {
  margin-top: 12 * $espaco;
  height: 12 * $espaco;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid $cinza75;

  &__nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5 * $espaco;

    &__barra {
      display: inline-block;
      width: 1px;
      height: 7 * $espaco;
      background: $blue-saphire;
    }

    &__link {
      color: $blue-saphire;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

//* MENU LATERAL

.menu-lateral {
  display: none;

  width: 35vw;
  height: 100vh;

  padding: 4 * $espaco 6 * $espaco;

  background: $branco;

  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

  overflow: hidden auto;

  &__nav {
    position: relative;

    &__titulo {
      @include heading-1-negrito;
      margin-bottom: 3 * $espaco;
    }

    &__subtitulo {
      @include heading-2-regular;
      margin-bottom: $espaco;
    }

    &__lista {
      margin-left: 3 * $espaco;
      margin-bottom: 4 * $espaco;
      @include heading-3-regular;

      li a {
        color: $cinza10;
        &:hover,
        &:focus-within {
          @include sombra-texto;
          text-decoration: underline;
          color: $verdigris;
          font-weight: 700;
        }
      }
    }

    &__x {
      @include estiloIconeX;
    }
  }
}

//* MENU CARRINHO

.menu-carrinho {
  display: none;

  width: 35vw;
  height: 100vh;

  padding: 4 * $espaco 6 * $espaco;

  background: $branco;

  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;

  overflow: hidden auto;

  &__x {
    @include estiloIconeX;
    top: 12px;
    right: 20px;
  }

  &__titulo {
    @include heading-1-negrito;
    margin-bottom: 24px;
  }

  &__exibicao {
    display: flex;
    flex-direction: column;
    // gap: 24px;
  }
}

.carrinho__item {
  @include sombra-caixa;

  padding: 16px;
  margin-bottom: 32px;

  border-radius: 8px;
  background: $cinza90;

  display: flex;
  gap: 16px;

  &__imagem {
    object-fit: contain;
    max-width: 180px;
  }
}

#botao-carrinho-compra {
  margin-top: 24px;
  padding: 6 * $espaco 8 * $espaco;
  font-size: 24px;

  align-self: center;
}

.botao__carrinho__zerar {
  margin-top: 24px;
  padding: 6 * $espaco 8 * $espaco;
  font-size: 24px;

  align-self: center;
}

.carrinho-vazio {
  &__titulo {
    @include heading-1-negrito;
    color: $cinza50;
    text-align: center;
  }
  &__mensagem {
    @include paragrafo;
    color: $cinza50;
    font-size: 16px;
    text-align: center;
  }
}

//* FUNDO DOS MENUS LATERAIS

#menu-fundo {
  display: none;

  width: 100vw;
  height: 100vh;

  background: $cinza10;
  opacity: 0.75;

  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
}
