// Estilo da scroll bar

// Tamanho da scroll bar
::-webkit-scrollbar {
  width: 10px;
}

// Trilho da barra
::-webkit-scrollbar-track {
  background: $cinza75;
}

// Barra
::-webkit-scrollbar-thumb {
  background: $cinza50;
}

// Barra hover
::-webkit-scrollbar-thumb:hover {
  background: $cinza25;
}
